<div class="col">
  <div class="card mt-2 mb-3">
    <h2 class="card-header">Sign Up</h2>

    <form class="card-body form signup-form">
      <div class="form-group">
        <label for="username-signup">username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
        <div class="form-group">
        <a href="/login">log in instead</a>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>
